app/src/main/res/drawable/algo.bmp
app/src/main/res/drawable/maths.bmp
app/src/main/res/drawable/isabelle.bmp
app/src/main/res/drawable/linux.bmp
app/src/main/res/drawable/si.bmp
app/src/main/res/drawable/physique.bmp
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
